.shepherd-element {
  border-radius: 12px !important;
  .shepherd-content {
    .shepherd-header {
      background-color: var(--card) !important;
      padding: 1.5rem !important;
      border-start-start-radius: 10px !important;
      border-start-end-radius: 10px !important;
      .shepherd-title {
        color: var(--foreground) !important;
        font-weight: 600 !important;
      }
      .shepherd-cancel-icon {
        color: var(--muted-foreground) !important;
        &:hover {
          color: var(--foreground) !important;
        }
      }
    }
    .shepherd-text {
      background-color: var(--card) !important;
      color: var(--muted-foreground) !important;
      padding: 0rem 1.5rem !important;
      font-size: 0.875rem !important;
    }
    .shepherd-footer {
      background-color: var(--card) !important;
      padding: 1.5rem !important;
      border-end-start-radius: 10px !important;
      border-end-end-radius: 10px !important;
      .shepherd-button {
        background: var(--primary) !important;
        color: var(--primary-foreground) !important;
        border-radius: calc(var(--radius) - 4px);
        cursor: pointer;
        margin-inline-end: 1rem;
        padding: 0.5rem 1rem;
        transition: all 0.2s ease-in-out;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        &:hover {
          opacity: 0.9;
        }
      }
      .shepherd-button.shepherd-button-secondary {
        background: var(--secondary) !important;
        color: var(--secondary-foreground) !important;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  .shepherd-arrow:before {
    background-color: var(--card) !important;
  }
}
