.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0px;
}

.grid-item {
  width: 100%;
}

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-dashCard {
  margin: 5px 0;
  background: var(--card-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.dark .card-dashCard {
  background: var(--dark-card-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color);
}
.card{
  width: 100%;
}

.dark .card {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.card-body-dashCard {
  padding: 20px;
  margin: 4px 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.text-secondary {
  color: var(--blue-color);
}

.text-green {
  color: #28a745;
  font-size: 0.8rem;
}

.text-danger {
  color: #dc3545;
}

.text-white {
  color: var(--dashboard-color);
}

.bg-gradient-purple {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.bg-gradient-purple svg {
  padding: 0px 0px;
  height: 33px;
  width: 33px;
  margin: 8px 9px;
}

.bg-gradient-success {
  background: linear-gradient(to right, #28a745, #5cb85c);
}

.bg-gradient-danger {
  background: linear-gradient(to right, #dc3545, #fd7e14);
}

.bg-gradient-info {
  background: linear-gradient(to right, #17a2b8, #007bff);
}

.flex-basis-80 {
  flex-basis: 80%;
}

.text-decoration {
  text-decoration: none;
}

/* Add hover effects */

.card-dashCard:hover .bg-gradient-purple {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color:white
  
}

.bg-gradient-purple:hover {
  /* background-color: #6a11cb;  */
}

/* Add this CSS animation */
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(-2px, -2px);
  }
}
